{{#each buttons}}
    <button class="test-btn" onclick="location.href='{{this.link}}'">{{this.text}}</button>
{{/each}}

<!-- Login Form husk at tilføje method og action -->
<form class="login">
    <h3>Login</h3>
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">
    <button class="test-btn login-button" type="submit">Login</button>
    <a href="#">glemt kodeord</a>
</form>