<div class="topbar">
    <h1 class="title">{{title}}</h1>
    <button id="hamburger" class="hamburger">
        <i class="fa-solid fa-bars"></i>
    </button>
</div>

<aside class="sidebar">
    <nav>
        <ul>
            <li><a href="/">link 1</a></li>
            <li><a href="/">link 2</a></li>
            <li><a href="/">link 3</a></li>
            <li><a href="/">link 4</a></li>
        </ul>
    </nav>
</aside>