<aside class="sidenav" id="sidebar">
  <button id="hamburger-btn">☰</button>

  <ul class="nav-links">
    <li><a href="/orders">Ordreoversigt</a></li>
    <li><a href="/products">Produktoversigt</a></li>
    <li><a href="/stations">Stationsoversigt</a></li>
    <li><a href="/users">Brugeroversigt</a></li>
  </ul>
</aside>
