{{!liste til test af brugeroversigt}}
<ul class="list">
    {{#each items}}
    <li class="item">
        {{#each ../fields}}
        <div class="item-field">
             {{lookup ../this this}}
        </div>
        {{/each}}
    </li>
    {{/each}}
</ul>