.input-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.double-input .inputs-inline {
    display: flex;
    gap: 10px;
}

.double-input .inputs-inline input {
    flex: 1;
}

.submit-btn {
    position: fixed;
    bottom: 10px;
}


@media (max-width: 599px) {
    .double-input .inputs-inline {
        flex-direction: column;
    }
}
