.input-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
} 

.form-group input,
.form-group select {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #F8FAFB;
    border: #E2E2E2 1px solid;
    border-radius: 5px;
    color: #7F7F7F;
}

.submit-btn {
    background-color: #1B98E0;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    width: 100%;

}
