/* ---------- DESKTOP ---------- */

.sidebar {
    width: 220px;
    border-right: 1px solid #E2E2E2;
    position: fixed;   
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #F8FAFB;
    z-index: 999;
}

.page-content {
    margin-left: 220px;
}

.sidebar a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.hamburger {
    display: none;
    position: fixed;
    right: 15px;
    background: transparent;
    font-size: 21px;
    border: none;
    z-index: 1000;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;


    height: 60px;
    background: #fff;
    border-bottom: 1px solid #E2E2E2;

    display: flex;
    justify-content: center; 
    align-items: center; 
}

@media (max-width: 768px) {
    .page-content {
        margin-left: 0;
        padding-top: 60px;
    }
}

/* ---------- MOBIL ---------- */
@media (max-width: 768px) {

    .sidebar {
        transform: translateX(-100%);
        transition: transform .3s ease;
        width: 260px;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .page-content {
        margin-left: 0;
    }

    .hamburger {
        display: block;
    }
}

.page-content {
    padding-top: 60px; /* højde på header */
}