.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.list-content {
    display: flex;
    flex-direction: column;
}

.list-field {
    margin: 2px 0;
}

.list-actions {
    display: flex;
    gap: 20px;
}

.separator {
    width: 1px;
    background-color: #ddd;
    height: 35px;
}

.action-icon.delete {
    background: none;
    border: none;
    padding: 0;
}

.action-icon.delete i {
    stroke: #E53935;
    color: #E53935;
}


.list-item .list-field:first-child {
    font-size: 18px;
    color: #39393A;
}

.list-item .list-field:not(:first-child) {
    font-size: 16px;
    color: #7F7F7F;
}

.list-actions button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.action-icon {
    display: flex;
    align-items: center;
    color: #7F7F7F;
    transition: color 0.2s ease;
}

.list-actions .action-icon,
.list-actions .action-icon:link,
.list-actions .action-icon:visited {
    color: #7F7F7F !important;
}

.action-icon {
    display: flex;
    align-items: center;
    color: #7F7F7F;
    transition: color 0.2s ease;
}

.list-actions .action-icon i {
    color: #7F7F7F;
    stroke: #7F7F7F;
}

.list-actions .action-icon:hover i {
    color: #1B98E0;
    stroke: #1B98E0;
}
