/* Main.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


* {
    font-family: "Inter", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Layout */

.layout {
    display: flex;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
}

.page-content {
    width: calc(100% - 220px);
    margin-left: 220px;
    box-sizing: border-box;
    overflow-y: auto;
}


/* Titler */

.title {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

.page-title {
    font-size: 30px;
    font-weight: 500;
}


/* Knapper */

.new-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 20px;
    padding: 12px;

    background-color: #1B98E0;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}


/* Mobil */

@media (max-width: 768px) {

    .page-content {
        width: 100vw;
        margin-left: 0;
        padding: 0;
    }

    .page-title {
        display: none;
    }
}
