/*
Her er der CSS KEKW
*/

.test-btn {
    background-color: #ff1493;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 10px;
}


.login {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.login-button {
    background-color: #ff1493 /*#39393A*/;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.add-user {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.add-user .form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-user label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.add-user input[type="text"],
.add-user input[type="email"],
.add-user input[type="password"] {
    flex: 1;
}

#role_id {
    margin: 0;
}