<a href="/new-user" class="new-btn">Opret ny bruger</a>

{{> lists items=items fields=fields }}

{{!-- <script>
    const usersData = {{{json items}}};
    console.log('Users data:', usersData);
</script> --}}