<<<<<<< HEAD
<a href="users/new-user">Opret ny bruger</a>
=======


<a href="/new-user" class="new-btn">Opret ny bruger</a>
>>>>>>> sofie-hamburger

{{> lists items=items fields=fields }}

{{!-- <script>
    const usersData = {{{json items}}};
    console.log('Users data:', usersData);
</script> --}}